{% extends "core/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
{% load socialaccount %}

<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mp-4">{% trans 'Instant task' %}</legend>
      <div class="row">
        <div class="col-xl">
          {{ form.tasklistfk|as_crispy_field }}
        </div>
        <div class="col-xl">
          {{ form.treefk|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.real_date|as_crispy_field }}
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success btn-sm" type="submit"><i class="bi bi-check display-6"></i></button>
      <button class="btn btn-outline-info btn-sm" onclick="history.back()" type="button"><i class="bi bi-x display-6"></i></button>
    </div>
  </form>
</div>
<script>

</script>
{% endblock content%}