{% extends "core/base-leaflet.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
{% load socialaccount %}
<div class="container">
    <h1 class="mt-3">{{ title }}</h1>

    <div id="members_map" class="ml-2 mr-2"></div>

    <div class="alert alert-info mt-1">{% trans 'Click on the markers to get more info...' %}</div>

</div>
<script>
    var jsmembers = {};
    var tableauMarqueurs = [];

    {% for member in members %}
        jsmembers.{{ member }} = {
            "id": {{ member.id }},
            "lat": {{ member.profile.lat|safe }},
            "lon": {{ member.profile.long|safe }}
        };
    {% endfor %}
    var lat = 49.2;
    var lon = -0.4;
    var carte2 = L.map('members_map').setView([lat, lon], 5);
    // On charge les "tuiles"
    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        // Il est toujours bien de laisser le lien vers la source des données
        attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
        minZoom: 1,
        maxZoom: 15
    }).addTo(carte2);
    var icone = L.icon({
        iconUrl: "/static/img/icone.png",
        iconSize: [50,50],
        iconAnchor: [25,50],
        popupAnchor: [0,-35],
        shadowUrl: "/static/img/ombre.png",
        shadowSize: [35,35],
        shadowAnchor: [0,35]
    })
    var marqueurs = L.markerClusterGroup();
    for(jsmember in jsmembers){
        var marqueur = L.marker([jsmembers[jsmember].lat, jsmembers[jsmember].lon],{icon: icone});
        console.log([jsmembers[jsmember].lat, jsmembers[jsmember].lon]);
        marqueur.bindPopup("<p><strong><a href=''>"+jsmember+"</a></strong></p>");
        marqueurs.addLayer(marqueur);

        tableauMarqueurs.push(marqueur);
    };
    var groupmark = new L.featureGroup(tableauMarqueurs);
    carte2.fitBounds(groupmark.getBounds().pad(0.5));
    carte2.addLayer(marqueurs);

</script>
{% endblock content%}