{% extends "core/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block content %}
{% load socialaccount %}

<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mp-4">{% trans 'Photo' %}</legend>
      <div class="row">
        <div class="col-xl">
          {{ form.treefk|as_crispy_field }}
        </div>
        <div class="col-xl">
          {{ form.taskfk|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div id="div_id_shot_date" class="mb-3">
              <label for="id_shot_date" class="form-label">{% trans 'Shot date' %}</label>
              <input type="date" name="shot_date" value="{{ form.shot_date.value|date:'Y-m-d' }}" class="dateinput form-control" id="id_shot_date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.before_pic|as_crispy_field }}
        </div>
        <div class="col-xl">
          {{ form.after_pic|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.picture|as_crispy_field }}
        </div>
      </div>


    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">{% trans 'Ok' %}</button>
      <a href="{% url 'core-tdb' %}" class="btn btn-outline-info">{% trans 'Cancel' %}</a>
    </div>
  </form>
</div>
<script>

</script>
{% endblock content%}