{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
{% load socialaccount %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1 class="mt-3">{% trans 'Details' %}</h1>
    <div class="card text-white bg-secondary mb-3" style="max-width: 60rem;">
      <div class="card-header">{{ object.tasklistfk }}</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title">{% trans 'Tree:' %} <i>{{ object.treefk }}</i></h5>
            <p class="card-text">{% trans 'Description:' %} <i>{{ object.description }} </i><br>
            <span class="font-italic"><small>{% trans 'Planned date:' %} {{ object.plan_date }} </small></span><br>
            <small>{% trans 'Realisation date:' %} {{ object.real_date }} </small><br>
            {% if object.url %}
              <a href="{{ object.url }}" target="_blank">{{ object.url }}</a><br>
            {% endif %}
            <br>
            {% if request.user == object.treefk.ownerfk %}
              <a href="{% url 'task-update' task.id %}" class="btn btn-outline-info btn-sm" role="button" >{% trans 'Edit' %}</a>
              <a href="{% url 'task-delete' task.id %}" class="btn btn-outline-danger btn-sm" role="button" >{% trans 'Delete' %}</a>
            {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content%}