{% extends "core/base.html" %}
{% load i18n %}
{% load l10n %}
{% block content %}
{% load socialaccount %}
<div class="container">
    <h1 class="mt-3">{{ title }}</h1>
    {% if tasks %}
        <table class="table table-dark mt-2">
              <thead>
                <tr>
                  <th>{% trans 'Planned date' %}</th>
                  {% if action == 3 %}
                    <th>{% trans 'Realisation date' %}</th>
                  {% endif %}
                  <th>{% trans 'Tree name' %}</th>
                  <th>{% trans 'Task' %}</th>
                  <th></th>
                  <th class="d-none d-md-table-cell"></th>
                  <th class="d-none d-md-table-cell"></th>
                </tr>
              </thead>
              <tbody>
        {% for task in tasks %}
            <tr>
              <td>
              {% if task.plan_date != None %}
                {{ task.plan_date }}
              {% else %}
                  -
              {% endif %}
              </td>
              {% if action == 3 %}
                    <td>
                     {% if task.real_date != None %}
                        {{ task.real_date }}
                     {% else %}
                         -
                     {% endif %}
                    </td>
                  {% endif %}
              <td>
                {{ task.treefk }}
              </td>
              <td>
                {{ task.tasklistfk }}
              </td>
              <td>
                <a href="{% url 'task-detail' task.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" ><i class="bi bi-info-circle display-6"></i></a>
              </td>
              <td class="d-none d-md-table-cell">
                <a href="{% url 'task-update' task.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" ><i class="bi bi-pencil display-6"></i></a>
              </td>
              <td class="d-none d-md-table-cell">
                <a href="{% url 'task-delete' task.id %}" class="btn btn-outline-danger btn-sm mt-1" role="button" ><i class="bi bi-trash3 display-6"></i></a>
              </td>
          </tr>
        {% endfor %}
          </tbody>
        </table>
    {% else %}
    <i>{% trans 'No task to display' %}</i>
    {% endif %}
<button class="btn btn-outline-info btn-sm mt-2" onclick="history.back()"><i class="bi bi-arrow-left display-6"></i></button>
</div>
{% endblock content%}