{% extends "core/base.html" %}
{% load i18n %}
{% load l10n %}
{% block content %}
  {% load socialaccount %}
<div class="container">
    <h1 class="mt-3">{{ content.titre }}</h1>
  {% if overduetasks %}
    <h3 class="mt-1">{% trans 'Overdue tasks' %}</h3>
    <div class="accordion" id="accordionoverduetasks">
      <div class="accordion-item">
        <h2 class="accordion-header" id="Headingoverduetasks">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseoverduetasks" aria-expanded="true" aria-controls="collapseoverduetasks">
            {% trans 'You may be late...' %}
          </button>
        </h2>
        <div id="collapseoverduetasks" class="accordion-collapse collapse" aria-labelledby="heading overduetasks" data-bs-parent="#accordionoverduetasks">
          <div class="accordion-body">
            <table class="table table-dark mt-2">
              <thead>
                <tr>
                  <th>{% trans 'Planned date' %}</th>
                  <th>{% trans 'Tree name' %}</th>
                  <th>{% trans 'Task' %}</th>
                  <th></th>
                  <th class="d-none d-md-table-cell"></th>
                  <th class="d-none d-md-table-cell"></th>
                </tr>
              </thead>
              <tbody>
                {% for overduetask in overduetasks %}
                <tr>
                  <td>
                    {{ overduetask.plan_date }}
                  </td>
                  <td>
                    {{ overduetask.treefk }}
                  </td>
                  <td>
                    {{ overduetask.tasklistfk }}
                  </td>
                  <td>
                    <a href="{% url 'task-detail' overduetask.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Detail' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-update' overduetask.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Edit' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-delete' overduetask.id %}" class="btn btn-outline-danger btn-sm mt-1" role="button" >{% trans 'Delete' %}</a>
                  </td>
              </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}


  {% if not nexttasks %}
    <p>{% trans 'No task planned in the next 90 days.' %}</p>
  {% else %}
    <h3 class="mt-1">{% trans 'Next planned tasks' %}</h3>
    <div class="accordion" id="accordionnexttasks">
      <div class="accordion-item">
        <h2 class="accordion-header" id="Headingnexttasks">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenexttasks" aria-expanded="true" aria-controls="collapsenexttasks">
            {% trans 'Next 3 months' %}
          </button>
        </h2>
        <div id="collapsenexttasks" class="accordion-collapse collapse" aria-labelledby="heading nexttasks" data-bs-parent="#accordionnexttasks">
          <div class="accordion-body">
            <table class="table table-dark mt-2">
              <thead>
                <tr>
                  <th>{% trans 'Planned date' %}</th>
                  <th>{% trans 'Tree name' %}</th>
                  <th>{% trans 'Task' %}</th>
                  <th></th>
                  <th class="d-none d-md-table-cell"></th>
                  <th class="d-none d-md-table-cell"></th>
                </tr>
              </thead>
              <tbody>
                {% for nexttask in nexttasks %}
                <tr>
                  <td>
                    {{ nexttask.plan_date }}
                  </td>
                  <td>
                    {{ nexttask.treefk }}
                  </td>
                  <td>
                    {{ nexttask.tasklistfk }}
                  </td>
                  <td>
                    <a href="{% url 'task-detail' nexttask.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Detail' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-update' nexttask.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Edit' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-delete' nexttask.id %}" class="btn btn-outline-danger btn-sm mt-1" role="button" >{% trans 'Delete' %}</a>
                  </td>
              </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <h3 class="mt-1">{% trans 'Trees' %}</h3>
  <div class="accordion" id="accordiontrees">
    {% if not trees %}
        <p>{% trans 'No tree in your collection.' %}</p>
    {% endif %}
    {% for tree in trees %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="Heading{{ tree.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ tree.id }}" aria-expanded="true" aria-controls="collapse{{ tree.id }}">
          {{ tree.tname }}
        </button>
      </h2>
      <div id="collapse{{ tree.id }}" class="accordion-collapse collapse" aria-labelledby="heading {{ tree.id }}" data-bs-parent="#accordiontrees">
        <div class="accordion-body">
          <div class="row">
            <div class="col">
              <p>{% trans 'Species:' %} <i>{{ tree.speciesfk}} </i><br>
              {% trans 'Description:' %} <i>{{ tree.description }} </i><br>
              <small>{% trans 'Planting date:' %} <i>{{ tree.bdate }}</i></small><br>
              <small>{% trans 'Acquisition date:' %} <i>{{ tree.adate }}</i></small><br>
              <small>{% trans 'Origin:' %} <i>{{ tree.originfk }}</i></small>
              {% if tree.url %}
                <br><a href="{{ tree.url }}" target="_blank" rel="noopener noreferrer">{{ tree.url }}</a>
              {% endif %}
              </p>
              <a href="{% url 'tree-detail' tree.id %}" class="btn btn-outline-info btn-sm mb-2" role="button" >{% trans 'Detail' %}</a>
              <a href="{% url 'tree-update' tree.id %}" class="btn btn-outline-info btn-sm mb-2" role="button" >{% trans 'Edit' %}</a>
              <a href="{% url 'tree-delete' tree.id %}" class="btn btn-outline-danger btn-sm mb-2" role="button" >{% trans 'Delete' %}</a>
            </div>
            <div class="col">
              <img src="{{ tree.treePic.url }}">
            </div>
          </div>
          <table class="table table-dark mt-2">
            <thead>
              <tr>
                <th>{% trans 'Task' %}</th>
                <th>{% trans 'Planned date' %}</th>
                <th>{% trans 'Realisation date' %}</th>
                <th></th>
                <th class="d-none d-md-table-cell"></th>
                <th class="d-none d-md-table-cell"></th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                {% if task.treefk == tree %}
                  <td>
                    {{ task.tasklistfk }}
                  </td>
                  <td>
                    {{ task.plan_date }}
                  </td>
                  <td>
                    {{ task.real_date }}
                  </td>
                  <td>
                    <a href="{% url 'task-detail' task.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Detail' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-update' task.id %}" class="btn btn-outline-info btn-sm mt-1" role="button" >{% trans 'Edit' %}</a>
                  </td>
                  <td class="d-none d-md-table-cell">
                    <a href="{% url 'task-delete' task.id %}" class="btn btn-outline-danger btn-sm mt-1" role="button" >{% trans 'Delete' %}</a>
                  </td>
                {% endif %}
            </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'task-create' tree.id %}" class="btn btn-outline-success btn-sm mt-1" role="button" >{% trans 'Add task' %}</a>

        </div>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'tree-create' %}" class="btn btn-outline-success btn-sm mt-1" role="button" >{% trans 'Add a tree' %}</a>
  </div>
</div>
{% endblock content%}