{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
  {% load socialaccount %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1>{{ content.titre }}</h1>

<div class="accordion" id="accordiontrees">
    {% if not trees %}
        <p>{% trans 'No tree in your collection.' %}</p>
    {% endif %}
    {% for tree in trees %}

  <div class="accordion-item">
    <h2 class="accordion-header" id="Heading{{ tree.id }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ tree.id }}" aria-expanded="true" aria-controls="collapse{{ tree.id }}">
        {{ tree.tname }}
      </button>
    </h2>
    <div id="collapse{{ tree.id }}" class="accordion-collapse collapse" aria-labelledby="heading {{ tree.id }}" data-bs-parent="#accordiontrees">
      <div class="accordion-body">
        <p>{% trans 'Species:' %} {{ tree.speciesfk.sname }} </br>
        {% trans 'Description:' %} {{ tree.description }} </br>
        <i><small>{% trans 'Planting date:' %} {{ tree.bdate }} </small></i></br>
        <small>{% trans 'Acquisition date:' %} {{ tree.adate }} </small></br>
        <small>{% trans 'Shop/ex-owner:' %} {{ tree.shop }} </small></br>
        {{ tree.ownerfk }}
        </p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>


</div>
{% endblock content%}