{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}

<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mp-4">{% trans 'Tree' %}</legend>
      <div class="row">
        <div class="col-xl">
          {{ form.tname|as_crispy_field }}
        </div>
        <div class="col-xl">
          {{ form.originfk|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.speciesfk|as_crispy_field }}
          <i>{% trans 'A = Evergreen tree, B = Deciduous tree, C = Pines and Conifers' %}</i><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          <div id="div_id_bdate" class="mb-3">
              <label for="id_bdate" class="form-label">{% trans 'Planting date' %}</label>
              <input type="date" name="bdate" value="{{ form.bdate.value|date:'Y-m-d' }}" class="dateinput form-control" id="id_bdate">
          </div>
        </div>
        <div class="col-xl">
          <div id="div_id_adate" class="mb-3">
              <label for="id_adate" class="form-label">{% trans 'Acquisition date' %}</label>
              <input type="date" name="adate" value="{{ form.adate.value|date:'Y-m-d' }}" class="dateinput form-control" id="id_adate">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.treePic|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-xl">
          {{ form.url|as_crispy_field }}
        </div>
      </div>
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-success btn-sm" type="submit"><i class="bi bi-check display-6"></i></button>
        <button class="btn btn-outline-info btn-sm" onclick="history.back()" type="button"><i class="bi bi-x display-6"></i></button>
    </div>
  </form>
</div>
<script>

</script>
{% endblock content%}