{% extends "core/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
{% load socialaccount %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mp-4">{% trans 'Tree' %}</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">{% trans 'Ok' %}</button>
      <a href="{% url 'core-tdb' %}" class="btn btn-outline-info">{% trans 'Cancel' %}</a>
    </div>
  </form>
</div>
{% endblock content%}