{% extends "core/base.html" %}
{% load i18n %}
{% load static %}
{% load tz %}

{% block content %}
{% load socialaccount %}
  <div class="container mt-3">
    <h1 class="mt-3">{{ title }}</h1>

    <div class="card-group">
    {% for weatherday in weatherdays %}
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header">{{ weatherday.wdate }}</div>
      <div class="card-body">
        <h4 class="card-title">{{ weatherday.wdescription|capfirst }}</h4>
        <div class="row">
          <div class="col">
            <img src="{% static 'img/meteo/' %}{{ weatherday.wicon }}.png">
          </div>
          <div class="col">
            <p class="small text-truncate">
              {% trans 'Pressure:' %} {{ weatherday.wpressure }} hPa<br>
              {% if weatherday.wtemp_min_warn %}
                {% trans 'Temp min:' %} <mark>{{ weatherday.wtemp_min.normalize }} {{ u1 }}</mark><br>
              {% else %}
                {% trans 'Temp min:' %} {{ weatherday.wtemp_min.normalize }} {{ u1 }}<br>
              {% endif %}
              {% if weatherday.wtemp_max_warn %}
                {% trans 'Temp max:' %} <mark>{{ weatherday.wtemp_max.normalize }} {{ u1 }}</mark><br>
              {% else %}
                {% trans 'Temp max:' %} {{ weatherday.wtemp_max.normalize }} {{ u1 }}<br>
              {% endif %}
              {% trans 'Wind speed:' %} {{ weatherday.wwind_speed.normalize }} {{ u2 }}<br>
              {% if weathers.unites == '1' %}
                ({{ weatherday.wwind_speedkmh }}) km/h<br>
              {% endif %}
              {% if weatherday.wwind_gust_warn %}
                  {% trans 'Gusts:' %} <mark>{{ weatherday.wwind_gust.normalize }} {{ u2 }}</mark><br>
                  {% if weathers.unites == '1' %}
                    <mark>({{ weatherday.wwind_gustkmh }}) km/h</mark><br>
                  {% endif %}
              {% else %}
                  {% trans 'Gusts:' %} {{ weatherday.wwind_gust.normalize }} {{ u2 }}<br>
                  {% if weathers.unites == '1' %}
                    ({{ weatherday.wwind_gustkmh }}) km/h<br>
                  {% endif %}
              {% endif %}
              {% trans 'Humidity:' %} {{ weatherday.whumidity }}%<br>
              {% trans 'Rain:' %} {{ weatherday.wrain.normalize }} mm<br>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
    {% if alert %}
      <div class="alert alert-dismissible alert-danger mt-2">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">{% trans 'Weather alert' %}</h4>
        <p class="mb-0">{{ weathers.alert_sender }}<br>
          {{ weathers.alert_event }}<br>
          {% timezone localti %}
          From : {{ weathers.alert_start }}<br>
          To : {{ weathers.alert_end }}<br>
          {% endtimezone %}
          Description : {{ weathers.alert_description }}<br>
        </p>
      </div>
    {% endif %}
  <button class="btn btn-outline-info btn-sm mt-2" onclick="history.back()"><i class="bi bi-arrow-left display-6"></i></button>
  </div>
{% endblock content%}